@import "src/styles/constants";
.title {
  margin-bottom: $grid-base-5x;
}
.group {
  margin-bottom: $grid-base-5x;
}
.groupTitle {
  margin-bottom: $grid-base-2x;
}

.filter {
  margin-bottom: $grid-base;
}
