:root {
  --color-primary: #29679C;
  --color-primary-hover: #245A88;
  --color-primary-pressed: #204F78;

  --color-secondary: #F1C232;
  --color-secondary-hover: #E5B82F;
  --color-secondary-pressed: #D9AF2D;

  --color-error: #EF2727;

  --color-background: #ffffff;
  --color-background-primary: rgba(41, 103, 156, 0.07);
  --color-background-secondary: #FDF6E0;

  --color-text-primary: #000000;
  --color-text-secondary: #666666;

  --color-tertiary: #999999;


  --color-production: #1FAD3E;
  --color-background-production: rgba(31, 173, 62, 0.07);

  --color-demonstrated: #D9AF2D;
  --color-background-demonstrated: rgba(217, 175, 45, 0.1);

  --color-proposed: #666666;
  --color-background-proposed: rgba(102, 102, 102, 0.07);
}
