$radius: 4px;

$grid-small: 4px;
$grid-base: 8px;
$grid-base-extra: 12px;
$grid-base-2x: 16px;
$grid-base-3x: 24px;
$grid-base-4x: 32px;
$grid-base-5x: 40px;
$grid-base-6x: 48px;
$grid-base-9x: 72px;

$border-small: 1px;
$border-base: 2px;

$bp-mobile: 768px;
