*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}
