{{ define "main" }}
			<!--
			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-third">
					<div class="w3-card w3-container" style="min-height:460px">
						<h3>Responsive</h3><br>
						<i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
						<p>Built-in responsiveness</p>
						<p>Mobile first fluid grid</p>
						<p>Fits any screen sizes</p>
						<p>PC Tablet and Mobile</p>
					</div>
				</div>
			</div>-->
			{{ .Content }}
			<div id="protocol-list" style="display: grid; gap: 20px 10px;grid-template-columns: repeat(4, minmax(0, 1fr));">
			{{ range first 40 (where (where .Site.AllPages ".Section" "protocols" ) ".Kind" "page") }}
				<a
				hx-get="{{ (.OutputFormats.Get "htmx").RelPermalink }}"
				hx-push-url="{{ .RelPermalink }}"
				hx-trigger="click"
				hx-target="#content"
				hx-swap="innerHTML"
				href="{{ .Permalink }}">{{ delimit (after 2 (split .Path "/")) "/" }}</a>
			{{ end }}
			</div>
{{ end }}
