@import 'src/styles/constants';
.avatar {
  display: flex;
  align-items: center;
}

.img {
  height: $grid-base-3x;
  width: $grid-base-3x;
  border-radius: 50%;
  margin-right: $grid-base;
}

.publisher {
  color: var(--color-primary);
}

.avatar:hover {
  .publisher {
    color: var(--color-primary-hover);
  }
}

.avatar:focus {
  .publisher {
    color: var(--color-primary-pressed);
  }
}
