name: Protocol Pull Request
on:
  pull_request:
    branches: main
    paths:
      - 'site/content/protocols/**/*'

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - id: files
        uses: hanseltimeindustries/get-changed-files@v1

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.3.0
        with:
          node-version: 14
          
      - name: Install dependencies
        run: npm ci
        
      - name: Test markdown
        run: npx remark ${{ steps.files.outputs.added_modified }}

      - name: Test meta
        run: node scripts/validate.js ${{ steps.files.outputs.added_modified }}
